/*GLOBAL STYLES*/

@import url('https://fonts.googleapis.com/css?family=Merriweather');

body{
    margin:0px;
    background-color: #FFF;
    text-align: center;
}

.header {
    font-family: 'Merriweather', serif;
    background-color: #90ACB5!important;
    color: #fff!important;
    padding: 20px;
    text-align: left;
    
}

.about {
    font-family: 'Merriweather', serif;
    text-align: right;
    margin: 0px 0px 0px 0px;
    color: #000!important;
    font-size: 1.7em;
    padding: 150px;
}

.footer {
    font-family: 'Merriweather', serif;
    padding: 60px;
    padding-top: 100px;
    background-color: #90ACB5!important;
    color: #fff;
}

/*BUTTON STYLES*/

.button {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-weight: bold;
    background-color: transparent;
    padding:17px 38px;
    border-radius:10px;
    color:#B3B3B3;
    text-decoration:none;
    border: solid 1.5px #B3B3B3;
}

#buttonCenter {
    margin-top: -60px;
    margin-bottom: 70px;
}

.button:hover, .button:focus {
    text-decoration: none;
    color: #90ACB5;
    border: solid 1.5px #90ACB5;
}

#dnr {
    color: #E8E8E8!important;
}
